.output {
  font-size: 0.8rem;
  height: calc(100vh - 7rem);
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  overflow-y: scroll;
}

.message {
  border-bottom: 1px solid #d7d7d7;
}

.label {
  color: #303F9F;
  font-weight: bolder;
}

.json {
  font-family: mono;
  font-size: 0.75rem;
}